Repository aip-dev/google.aip.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/api-governance, @googleapis/aip-editors, @googleapis/aip-aog, @googleapis/aip-apps, @googleapis/aip-auth, @googleapis/aip-client-libraries, @googleapis/aip-cloud, @googleapis/aip-cloud-cli, @googleapis/aip-firebase, @googleapis/aip-geo

.github/CODEOWNERS:

# The API governance team is the default owner for everything in the repo.
# (Note: CODEOWNERS follows a "last match wins" system.)
*                             @googleapis/api-governance

# These AIP editors own the generally-applicable AIP guidance.
# PA-specific directories are owned by their respective teams.
aip/*.md                      @googleapis/aip-editors

# Team-specific components are owned by those teams.
aip/aog/30*.md                @googleapis/aip-aog
aip/apps/27*.md               @googleapis/aip-apps
aip/auth/41*.md               @googleapis/aip-auth
aip/client-libraries/42*.md   @googleapis/aip-client-libraries
aip/cloud/25*.md              @googleapis/aip-cloud
aip/cloud/26*.md              @googleapis/aip-cloud-cli
aip/firebase/32*.md           @googleapis/aip-firebase
aip/geo/46*.md                @googleapis/aip-geo

Prettier
  aip/0145.md
Owners: @googleapis/aip-editors

AIP-151: Add guidance for parallel operations.
  aip/0151.md
Owners: @googleapis/aip-editors

AIP-2510: Retitle to project identifiers.
  aip/cloud/2510.md
Owners: @googleapis/aip-cloud

AIP-158: Never require page_size.
  aip/0158.md
Owners: @googleapis/aip-editors

Changelog
  aip/0158.md
Owners: @googleapis/aip-editors

AIP-158: Never require page_size. (#537)
  aip/0158.md
Owners: @googleapis/aip-editors

AIP-2510: Retitle to project identifiers. (#536)
  aip/cloud/2510.md
Owners: @googleapis/aip-cloud

AIP-151: Add guidance for parallel operations. (#535)
  aip/0151.md
Owners: @googleapis/aip-editors

Address comments
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Pluralize Books in the req
  aip/0234.md
Owners: @googleapis/aip-editors

Add note on allowing '_times' for repeated timestamp fields
  aip/0142.md
Owners: @googleapis/aip-editors

Tweak text slightly.
  aip/0142.md
Owners: @googleapis/aip-editors

fix: Add note on allowing '_times' for repeated timestamp fields (#539)
  aip/0142.md
Owners: @googleapis/aip-editors

Pluralize Books in the req (#538)
  aip/0234.md
Owners: @googleapis/aip-editors

Incorporate @jskeet feedback.
  aip/0146.md
Owners: @googleapis/aip-editors

[AIP-146] Approve the generic fields AIP. (#524)
  aip/0146.md
Owners: @googleapis/aip-editors

[AIP-145] Approve the ranges AIP. (#523)
  aip/0145.md
Owners: @googleapis/aip-editors

Fix front page CSS link.
  site/templates/index.html.j2
Owners: @googleapis/api-governance

Begin adding tests.
  .gitignore
  site/tests/test_change.py
Owners: @googleapis/api-governance

Exempt coverage file.
  .gitignore
Owners: @googleapis/api-governance

Halfway-ish done with tests.
  site/generator/models.py
  site/tests/mocks.py
  site/tests/test_md.py
  site/tests/test_models_aip.py
  site/tests/test_models_change.py
Owners: @googleapis/api-governance

Run the tests in GitHub
  .github/workflows/test.yaml
Owners: @googleapis/api-governance

Typo
  .github/workflows/test.yaml
Owners: @googleapis/api-governance

Add more tests.
  site/app.py
  site/generator/models.py
  site/tests/test_models_page.py
Owners: @googleapis/api-governance

More tests
  site/tests/test_models_scope.py
Owners: @googleapis/api-governance

Test
  site/tests/test_models_page.py
Owners: @googleapis/api-governance

Mention policies
  aip/0166.md
Owners: @googleapis/aip-editors

Incorporate @sir-buckyball feedback.
  aip/0166.md
Owners: @googleapis/aip-editors

Incorporate @sir-buckyball feedback.
  aip/0166.md
Owners: @googleapis/aip-editors

More tests.
  site/tests/mocks.py
  site/tests/test_models_scope.py
Owners: @googleapis/api-governance

Address comments
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Fix style
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Fix indentation
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Use 0 and 1 instead of true or false.
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Add codeblock
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Update default value
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Be specific about the environment
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Updates to Firebase CLI AIP-3260.
  aip/firebase/3260.md
Owners: @googleapis/aip-firebase

Update metadata.
  aip/aog/3001.md
  aip/aog/3010.md
  aip/aog/3020.md
  aip/aog/3021.md
  aip/aog/3022.md
  aip/aog/index.md
  aip/aog/scope.yaml
  aip/apps/2712.md
  aip/apps/2713.md
  aip/apps/2715.md
  aip/apps/2716.md
  aip/apps/2717.md
  aip/apps/2718.md
  aip/apps/index.md
  aip/apps/scope.yaml
  aip/auth/scope.yaml
  aip/client-libraries/4210.md
  aip/client-libraries/4221.md
  aip/client-libraries/4222.md
  aip/client-libraries/4231.md
  aip/client-libraries/4232.md
  aip/client-libraries/4233.md
  aip/client-libraries/4290.md
  aip/client-libraries/index.md
  aip/client-libraries/scope.yaml
  aip/cloud/2510.md
  aip/cloud/2602.md
  aip/cloud/2603.md
  aip/cloud/2604.md
  aip/cloud/index.md
  aip/cloud/scope.yaml
  aip/firebase/index.md
  aip/firebase/scope.yaml
  aip/general/scope.yaml
Owners: @googleapis/aip-aog, @googleapis/api-governance, @googleapis/aip-apps, @googleapis/aip-client-libraries, @googleapis/aip-cloud, @googleapis/aip-cloud-cli

Remove other index file.
  aip/auth/index.md
Owners: @googleapis/api-governance
