Repository aip-dev/google.aip.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/api-governance, @googleapis/aip-editors, @googleapis/aip-aog, @googleapis/aip-apps, @googleapis/aip-auth, @googleapis/aip-client-libraries, @googleapis/aip-cloud, @googleapis/aip-cloud-cli, @googleapis/aip-firebase, @googleapis/aip-geo

Fix links to Any and Struct messages
  aip/0146.md
Owners: @googleapis/aip-editors

AIP-4232: Add caveat for supporting RPC types
  aip/client-libraries/4232.md
Owners: @googleapis/aip-client-libraries

Add http body to update example in aip/156
  aip/0156.md
Owners: @googleapis/aip-editors

refactor: Split out site generator.
  .dockerignore
  CONTRIBUTING.md
  Dockerfile
Owners: @googleapis/api-governance

chore: Update CI/CD.
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  Dockerfile
  requirements.txt
Owners: @googleapis/api-governance

Add http body to update example in aip/156 (#546)
  aip/0156.md
Owners: @googleapis/aip-editors

Fix links to Any and Struct messages (#544)
  aip/0146.md
Owners: @googleapis/aip-editors

Rename gcloud cli to gcloud tool
  aip/auth/4110.md
Owners: @googleapis/aip-auth

cleanup redundant language
  aip/client-libraries/4232.md
Owners: @googleapis/aip-client-libraries

AIP-4232: Add caveat for supporting RPC types (#545)
  aip/client-libraries/4232.md
Owners: @googleapis/aip-client-libraries

Fix publishing step.
  .github/workflows/publish.yaml
Owners: @googleapis/api-governance

Update 0200.md
  aip/0200.md
Owners: @googleapis/aip-editors

Incorproate @jgeewax feedback.
  aip/0200.md
Owners: @googleapis/aip-editors

fix: AIP-200 – Reword a header.
  aip/0200.md
Owners: @googleapis/aip-editors

Update aip/auth/4110.md
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Rename unit-tests to build.
  .github/workflows/test.yaml
Owners: @googleapis/api-governance

Address comments
  aip/auth/4110.md
Owners: @googleapis/aip-auth

[AIP-4110] Initial AIP for google auth libraries. (#533)
  aip/auth/4110.md
Owners: @googleapis/aip-auth

Add Auth Libraries section
  _config.yml
  aip/auth/index.md
Owners: @googleapis/api-governance

Add Auth Libraries section (#555)
  _config.yml
  aip/auth/index.md
Owners: @googleapis/api-governance

[AIP-4111]Add AIP for self-signed JWT
  aip/auth/4111.md
Owners: @googleapis/aip-auth

Address comments.
  aip/firebase/3260.md
Owners: @googleapis/aip-firebase

Linkify service account json file
  aip/auth/4111.md
Owners: @googleapis/aip-auth

[AIP-4111] Add AIP for self-signed JWT-based access token (#556)
  aip/auth/4111.md
Owners: @googleapis/aip-auth

Fix the Dockerfile.
  Dockerfile
Owners: @googleapis/api-governance

Proposes AIP for sensitive fields.
  aip/0147.md
Owners: @googleapis/aip-editors

Fix omitted OUTPUT_ONLY
  aip/0147.md
Owners: @googleapis/aip-editors

Update 0147.md
  aip/0147.md
Owners: @googleapis/aip-editors

Update aip/0147.md
  aip/0147.md
Owners: @googleapis/aip-editors

Update to the new metadata format in #540.
  aip/0147.md
Owners: @googleapis/aip-editors

Create CNAME
  CNAME
Owners: @googleapis/api-governance

Move AIP-147 to aip/general/0147.md
  aip/general/0147.md
Owners: @googleapis/api-governance

fix: Proto syntax.
  aip/general/0147.md
Owners: @googleapis/api-governance

Place AIP-147 in the fields section.
  aip/general/0147.md
  aip/general/0216.md
Owners: @googleapis/api-governance

Add minor syntax changes (newlines).
  aip/general/0147.md
Owners: @googleapis/api-governance

AIP-147: Sensitive fields (#557)
  aip/general/0147.md
  aip/general/0216.md
Owners: @googleapis/api-governance

fix: Correct js_scripts for graphviz AIPs.
  aip/aog/3001.md
  aip/general/0001.md
  aip/general/0100.md
  requirements.txt
Owners: @googleapis/aip-aog, @googleapis/api-governance

fix: Correct js_scripts for graphviz AIPs. (#558)
  aip/aog/3001.md
  aip/general/0001.md
  aip/general/0100.md
  requirements.txt
Owners: @googleapis/aip-aog, @googleapis/api-governance

Add AIP for Device Certificate Authentication
  aip/auth/4114.md
Owners: @googleapis/aip-auth

Fixed indentation in auth AIPs
  aip/auth/4110.md
  aip/auth/4111.md
Owners: @googleapis/aip-auth

.github/CODEOWNERS:

# The API governance team is the default owner for everything in the repo.
# (Note: CODEOWNERS follows a "last match wins" system.)
*                             @googleapis/api-governance

# These AIP editors own the generally-applicable AIP guidance.
# PA-specific directories are owned by their respective teams.
aip/*.md                      @googleapis/aip-editors

# Team-specific components are owned by those teams.
aip/aog/30*.md                @googleapis/aip-aog
aip/apps/27*.md               @googleapis/aip-apps
aip/auth/41*.md               @googleapis/aip-auth
aip/client-libraries/42*.md   @googleapis/aip-client-libraries
aip/cloud/25*.md              @googleapis/aip-cloud
aip/cloud/26*.md              @googleapis/aip-cloud-cli
aip/firebase/32*.md           @googleapis/aip-firebase
aip/geo/46*.md                @googleapis/aip-geo
