Repository aip-dev/google.aip.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @googleapis/api-governance, @googleapis/aip-editors, @googleapis/aip-aog, @googleapis/aip-apps, @googleapis/aip-auth, @googleapis/aip-client-libraries, @googleapis/aip-cloud, @googleapis/aip-cloud-cli, @googleapis/aip-firebase, @googleapis/aip-geo

Update AIP for Device Certificate Authentication
  aip/auth/4114.md
Owners: @googleapis/aip-auth

fix: Correct AIP-160 EBNF grammar link.
  aip/general/0160.md
Owners: @googleapis/api-governance

Address comment
  aip/auth/4110.md
Owners: @googleapis/aip-auth

[aip-4113] Add AIP for gcloud CLI integration
  aip/auth/4113.md
Owners: @googleapis/aip-auth

fix: Correct AIP-160 EBNF grammar link. (#563)
  aip/general/0160.md
Owners: @googleapis/api-governance

chore: Move generic repo to aip-dev/aip.dev.
  config/hero.yaml
  config/urls.yaml
Owners: @googleapis/api-governance

chore: Move generic repo to aip-dev/aip.dev. (#565)
  config/hero.yaml
  config/urls.yaml
Owners: @googleapis/api-governance

Delete CNAME
  CNAME
Owners: @googleapis/api-governance

chore: Bump site generator to 0.1.2
  requirements.txt
Owners: @googleapis/api-governance

chore: Bump site generator to 0.1.2 (#566)
  requirements.txt
Owners: @googleapis/api-governance

[AIP-4113] Add AIP for gcloud CLI integration (#4)
  aip/auth/4113.md
Owners: @googleapis/aip-auth

feat: Add August newsletter.
  pages/news/2020-03.md
  pages/news/2020-04.md
  pages/news/2020-05.md
  pages/news/2020-06.md
  pages/news/2020-08.md
  pages/news/2020-08.yaml
Owners: @googleapis/api-governance

Adds Firebase AIP scaffolding (#2)
  aip/firebase/3201.md
  aip/firebase/3260.md
  aip/firebase/3270.md
  aip/firebase/3271.md
  aip/firebase/3272.md
  aip/firebase/3273.md
  aip/firebase/3274.md
  aip/firebase/3275.md
  aip/firebase/3276.md
Owners: @googleapis/aip-firebase

Update aip/181 to not use the term "whitelist"
  aip/general/0181.md
Owners: @googleapis/api-governance

fix: Update aip/181 to not use the term "whitelist" (#570)
  aip/general/0181.md
Owners: @googleapis/api-governance

feat: Genericize AIP-131.
  aip/general/0131.md
Owners: @googleapis/api-governance

feat: AIP-203 – Update Output Only field guidance (#9)
  aip/general/0203.md
Owners: @googleapis/api-governance

Sync from google.aip.dev. (#572)
  aip/auth/4113.md
  aip/firebase/3201.md
  aip/firebase/3260.md
  aip/firebase/3270.md
  aip/firebase/3271.md
  aip/firebase/3272.md
  aip/firebase/3273.md
  aip/firebase/3274.md
  aip/firebase/3275.md
  aip/firebase/3276.md
  aip/general/0203.md
Owners: @googleapis/aip-auth, @googleapis/aip-firebase, @googleapis/api-governance

Create initial draft of API contract AIP
  aip/general/0164.md
Owners: @googleapis/api-governance

Adds initial API contract AIP.
  aip/general/0164.md
Owners: @googleapis/api-governance

Add AIP 4114 for Device Certificate Authentication (#6)
  aip/auth/4114.md
Owners: @googleapis/aip-auth

Interface definition
  aip/general/0131.md
Owners: @googleapis/api-governance

feat: AIP-158 – Validating page tokens. (#11)
  aip/general/0158.md
Owners: @googleapis/api-governance

Fix formating issues in AIP 4110 and 4111 (#12)
  aip/auth/4110.md
  aip/auth/4111.md
Owners: @googleapis/aip-auth

fix: Fix some format issues in AIP-4113. (#7)
  aip/auth/4113.md
Owners: @googleapis/aip-auth

fix: Add the missing AIP reference. (#10)
  aip/general/0154.md
Owners: @googleapis/api-governance

Sync changes from Google repo. (#578)
  aip/auth/4110.md
  aip/auth/4111.md
  aip/auth/4113.md
  aip/auth/4114.md
  aip/general/0154.md
  aip/general/0158.md
Owners: @googleapis/aip-auth, @googleapis/api-governance

Create CNAME
  CNAME
Owners: @googleapis/api-governance

fix: Make config point to google.aip.dev repo.
  config/urls.yaml
Owners: @googleapis/api-governance

.github/CODEOWNERS:

# The API governance team is the default owner for everything in the repo.
# (Note: CODEOWNERS follows a "last match wins" system.)
*                             @googleapis/api-governance

# These AIP editors own the generally-applicable AIP guidance.
# PA-specific directories are owned by their respective teams.
aip/*.md                      @googleapis/aip-editors

# Team-specific components are owned by those teams.
aip/aog/30*.md                @googleapis/aip-aog
aip/apps/27*.md               @googleapis/aip-apps
aip/auth/41*.md               @googleapis/aip-auth
aip/client-libraries/42*.md   @googleapis/aip-client-libraries
aip/cloud/25*.md              @googleapis/aip-cloud
aip/cloud/26*.md              @googleapis/aip-cloud-cli
aip/firebase/32*.md           @googleapis/aip-firebase
aip/geo/46*.md                @googleapis/aip-geo
